/.github
/tests export-ignore
/phpunit.xml.dist export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon.dist
/phpstan-baseline.neon
/psalm.baseline.xml
/psalm.xml
