parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$cached might not be defined\\.$#"
			count: 1
			path: src/Asset/EntrypointLookup.php

		-
			message: "#^Method Symfony\\\\Bundle\\\\FrameworkBundle\\\\CacheWarmer\\\\AbstractPhpFileCacheWarmer\\:\\:__construct\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/CacheWarmer/EntrypointCacheWarmer.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to method withAttribute\\(\\) on an unknown class Fig\\\\Link\\\\Link\\.$#"
			count: 2
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Call to method withLink\\(\\) on an unknown class Fig\\\\Link\\\\GenericLinkProvider\\.$#"
			count: 2
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Class Fig\\\\Link\\\\Link not found\\.$#"
			count: 1
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Instantiated class Fig\\\\Link\\\\GenericLinkProvider not found\\.$#"
			count: 1
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Instantiated class Fig\\\\Link\\\\Link not found\\.$#"
			count: 1
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^PHPDoc tag @var for variable \\$linkProvider contains unknown class Fig\\\\Link\\\\GenericLinkProvider\\.$#"
			count: 1
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Return typehint of method Symfony\\\\WebpackEncoreBundle\\\\EventListener\\\\PreLoadAssetsEventListener\\:\\:createLink\\(\\) has invalid type Fig\\\\Link\\\\Link\\.$#"
			count: 1
			path: src/EventListener/PreLoadAssetsEventListener.php

		-
			message: "#^Function twig_escape_filter not found\\.$#"
			count: 7
			path: src/Twig/StimulusTwigExtension.php

